.calendar-container {
  input {
    width: 160px;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #10fffe;
    background: rgba(40, 49, 49, 1);
    color: white;
    margin: 8px;
    z-index: 1004;
    text-align: center;

    &::placeholder {
      color: white;
    }
  }
}
