.card-profile-contain {
  border: 1px solid #465454;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  background-color: rgba(40, 49, 49, 1);
  border-radius: 10px;
  color: white;
  transition: max-height 0.5s ease;

  .card-profile-header {
    display: flex;
    margin-inline: 1rem;
    margin-top: 0.5rem;
    gap: 1rem;
  }
  .card-profile-main-column {
    position: relative;
    padding: 1rem;
    .card-profile-main-row-hidden {
      position: relative;
      top: 0;
      scale: 0;
      display: none;
      transition: height 0.5s ease-in-out;
    }
    .show {
      height: 150px;
      scale: 1;
      display: block;
      transition: height 0.5s ease-in-out;
    }
  }
}
