/* Styles généraux pour le select */
select {
  // appearance: none;
  // -webkit-appearance: none;
  // -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  position: relative;
}

/* Styles spécifiques pour la flèche (utilisez une image personnalisée ou modifiez la couleur) */
select::-ms-expand {
  display: none;
  padding-right: 1rem;
}

select::after {
  content: "\25BC"; /* Unicode pour la flèche vers le bas */
  font-size: 16px; /* Taille de la police de la flèche */
  color: #de1111; /* Couleur de la flèche */
  position: absolute;
  top: 50%;
  right: 8px; /* Ajustez la valeur selon votre besoin pour décaler vers la gauche */
  pointer-events: none;
  transform: translateY(-50%);
  z-index: 99;
}

.select-style {
  width: 260px;
  height: 40px;
  transition: all 0.3s ease;
  margin-top: 0.3rem;
  border-radius: 10px;
  padding-left: 0.5rem;
  border: 2px solid var(--Color-3, #10fffe);
  background: rgba(0, 0, 0, 0.6);
}
.typo {
  color: #fff;
  font-family: var(--geo-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
