.navbar {
  position: absolute;
  button:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
  }

  z-index: 1001;
  .hamburger {
    background-color: rgba(40, 49, 49, 1);
    cursor: pointer;
    border-radius: 100%;
    padding: 10px;
    margin: 10px;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #10fffe;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar-buttons-navigate {
    margin-inline: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    button {
      width: clamp(160px, 70vw, 260px);
      height: 40px;
      border-radius: 10px;
      border: 1px solid #10fffe;
      background: rgba(40, 49, 49, 1);
      padding-inline: 1rem;
      transition: all 0.3s ease;
      color: white;
      cursor: pointer;
      z-index: 100;
      font-size: clamp(16px, 2.5vw, 20px);
    }
  }
  .navbar-desktop {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    height: 40px;
    background-color: rgba(40, 49, 49, 0.7);

    .navbar-buttons-desktop {
      color: #fff;
      text-shadow: 0px 2px 4px #10fffe;
    }
  }
}
