.navbar {
  .navbar-buttons-navigate {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    button {
      width: clamp(160px, 70vw, 260px);
      height: 40px;
      border-radius: 10px;
      border: 1px solid #10fffe;
      background: rgba(0, 0, 0, 0.6);
      padding-inline: 1rem;
      transition: all 0.3s ease;
      color: white;
      cursor: pointer;
      z-index: 100;
      font-size: clamp(16px, 2.5vw, 20px);
    }
  }
}
