* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;

  .leaflet-popup {
    width: 460px;

    .leaflet-popup-content-wrapper {
      border-radius: 20px;
      width: 100%;
      padding: 8px;
      border: 2px solid var(--Color-3, #10fffe);
      background: var(--Color-2, #525b5a);
      color: white;
      text-align: center;
      font-size: 16px;

      .leaflet-popup-content {
        margin: 0px;
        width: 100% !important;
      }
    }
  }
}

.cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px #fff;
}

.leaflet-pane .leaflet-label {
  color: #ff0000;
}

.leaflet-popup-close-button {
  span {
    color: white;
  }
}

.leaflet-routing-container {
  bottom: 40px;
}

@media screen and (max-width: 768px) {
  .leaflet-container {
    .leaflet-popup {
      width: 300px;
      .leaflet-popup-content-wrapper {
        width: 100%;
        .leaflet-popup-content {
          width: 100% !important;
        }
      }
    }
  }
}
