.background-modal-map {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(11, 11, 11, 0.118);
  z-index: 1000;
  display: flex;

  .main-background-modal-map {
    position: relative;
    top: 50%;
    left: 50%;
    width: 380px;
    height: 180px;
    color: white;
    background-color: gray;
    border-radius: 20px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: top;
    padding: 16px;
    border: 2px solid black;
    z-index: 1000;
    transform: translate(-50%, -50%);
  }
}

.leaflet-left {
  left: 50%;
  top: 50%;
  transform: translate(-50%, 5%);
  z-index: 1004;
}
.leaflet-top {
  left: 0;
  top: 100%;
  width: 100%;
  margin: 0;
  transform: translate(0%, -100%);
  z-index: 1000;
}
.leaflet-control-geocoder-form {
  position: relative;
  left: 250px;
  input {
    position: relative;
    left: -250px;
  }
}
