.popup-charging-station {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  color: black;
  text-align: start;
  font-size: 20px;
  font-weight: 700;

  .picture-car {
    position: absolute;
    top: -30px;
    right: 20px;
    height: 150px;
    width: 150px;
    background-image: url("../../assets/carspicture/audi-e-tron-55-quattro-408-ch_001-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .part-user {
    display: flex;
    margin: 16px;
    margin-bottom: 32px;
    color: white;
    justify-content: space-between;
  }
  .part-charging-station {
    width: 100%;
    height: 100%;
    padding: 16px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 20px;
    background: var(--Color-1, rgba(229, 233, 231, 0.91));
    gap: 8px;

    .station-nom-operateur {
      font-size: 24px;
      font-weight: 800;
      padding-bottom: 4px;
    }

    .part-one-charging-station {
      padding: 8px;
    }

    .part-two-charging-station {
      padding: 8px;
      display: flex;
      justify-content: space-around;
      position: relative;
      height: 40px;

      .number-pdc {
        display: flex;
        gap: 8px;
        width: 160px;
        height: 44px;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        background: var(--Color-2, #525b5a);
        color: white;
        position: absolute;
        top: 0;
        left: 5%;
      }

      .timetables {
        display: flex;
        width: 160px;
        height: 44px;
        gap: 8px;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        background: var(--Color-2, #525b5a);
        color: white;
        position: absolute;
        top: 0;
        left: 55%;

        button {
          cursor: pointer;
          img {
            max-width: none;
          }
        }
      }
    }
    .part-plug-charging-station {
      padding: 8px;

      h3 {
        font-size: 24px;
        font-weight: bolder;
        padding-bottom: 4px;
      }

      .images-plug {
        display: flex;
        justify-content: space-around;
      }

      .plug-charging-station {
        display: flex;
        justify-content: space-around;
      }
    }
    .part-rate-charging-station {
      padding: 8px;

      h3 {
        font-size: 24px;
        font-weight: bolder;
      }
    }
    .part-information-charging-station {
      padding: 8px;

      h3 {
        font-size: 24px;
        font-weight: bolder;
      }
    }
    .button-charging-station {
      display: flex;
      justify-content: space-around;

      .button-reservation {
        padding: 16px;
        display: flex;
        height: 38px;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background: var(--Color-3, #10fffe);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;

        &:hover {
          transform: scale(1.05);
        }

        &:active {
          transform: scale(0.95);
        }
      }

      .itinerary-button {
        padding: 16px;
        display: flex;
        height: 44px;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background: var(--Color-3, #10fffe);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;

        &:hover {
          transform: scale(1.05);
        }

        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .popup-charging-station {
    text-align: center;
    font-size: 14px;

    .part-charging-station {
      gap: 0px;
      padding-top: 0px;
      h3 {
        font-size: 16px !important;
      }

      .part-two-charging-station {
        .number-pdc {
          width: 120px;
          left: 0%;
          height: 34px;
        }
        .timetables {
          width: 120px;
          left: 52%;
          height: 34px;
        }
      }
    }
    .button-charging-station {
      gap: 4px;
      .button-reservation,
      .itinerary-button {
        font-size: 15px !important;
        height: 38px;
      }
    }
  }
}
