.input-general-style,
.input-general-style:valid,
.input-general-style:focus,
.input-general-style:-webkit-autofill {
  width: 260px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid var(--Color-3, #10fffe);
  background: rgba(0, 0, 0, 0.6);
  padding-inline: 1rem;
  margin-top: 0.2rem;
  transition: all 0.3s ease; /* Ajoutez une transition pour une animation fluide si nécessaire */
}

.input-general-style:focus,
.input-general-style:valid,
.input-general-style:focus::-webkit-input-placeholder,
.input-general-style:-webkit-autofill::-webkit-input-placeholder {
  /* Styles spécifiques au focus ou à la saisie automatique */
  border-color: var(--Color-3, #10fffe);
  background: rgba(0, 0, 0, 0.6);
}

.typo {
  color: #fff;
  font-family: var(--geo-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Invert the color of the calendar icon */
}
.input-style-textarea {
  width: 260px;
  height: 210px;
  border-radius: 10px;
  border: 1px solid var(--Color-3, #10fffe);
  background: rgba(0, 0, 0, 0.6);
  margin-top: 0.5rem;
  padding: 1rem;
  transition: all 0.3s ease; /* Ajoutez une transition pour une animation fluide si nécessaire */
}
.icon-email,
.icon-password {
  display: flex;
  padding-bottom: 6px;
  width: 80%;
  height: 2rem;
  border-bottom: 2px solid black;

  .input-login-style {
    width: 80%;
    border: none;
    height: 2rem;
    font-size: 16px;
    font-family: var(--geo-font);
    padding-left: 0.7rem;
    color: black;
    background: none;
    z-index: 99;
  }
  input.input-login-style:focus,
  input.input-login-style:valid,
  input.input-login-style:focus::-webkit-input-placeholder,
  input.input-login-style:-webkit-autofill::-webkit-input-placeholder {
    outline: none;
    background: none;
  }
}
