.profil {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/images/bckground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;

  .profil-garage {
    background-image: url("../../assets/images/garage.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 25vh;

    img {
      width: 100%;
    }
    .profil-garage-text {
      font-size: clamp(16px, 4vw, 50px);
      h1 {
        margin-bottom: 10px;
      }
    }
  }

  .card-profil {
    border: 1px solid #465454;
    width: 80%;
    height: 23%;
    background-color: rgba(40, 49, 49, 1);
    margin: 0 auto;
    padding: 1vh 3%;
    border-radius: 10px;
    .card-profil-header {
      height: 20%;
      display: flex;
      justify-content: space-between;
      .card-profil-button-title {
        height: 100%;
        display: flex;
        gap: 10px;
        .card-profil-header-button {
          img {
            height: 110%;
          }
          h1 {
            color: white;
            margin: auto 0;
          }
        }
      }
      .card-profil-header-icons {
        gap: 3px;
        display: flex;
        justify-content: end;
      }
    }
    .card-profil-line {
      margin: 3px 0;
      width: 100%;
    }
    .cart-content {
      height: 12vh;
      margin: 2vh 2%;
      display: flex;
      flex-direction: row;

      img {
        height: 12vh;
        width: 12vh;
        width: calc(height);
      }
      .cart-content-text {
        width: calc(100% - 12vh);
        ul {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 70%;
          height: 10vh;
          margin: 0 auto;
          color: white;
          font-size: clamp(8px, 3vw, 32px);
        }
      }
    }
  }
}
